
target/m2e-wtp/web-resources/META-INF/maven/walletpasscards.com/WalletPasscardsService/pom.properties

*.properties

target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst

target/m2e-wtp/web-resources/META-INF/maven/walletpasscards.com/WalletPasscardsService/pom.properties

target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst

target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst

target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst

target/WalletPasscardsService/WEB-INF/lib/aopalliance-1.0.jar

target/WalletPasscardsService.war

target/m2e-wtp/web-resources/META-INF/maven/walletpasscards.com/WalletPasscardsService/pom.properties

target/WalletPasscardsService/WEB-INF/lib/httpasyncclient-4.0.2.jar

target/WalletPasscardsService/WEB-INF/lib/httpcore-4.3.3.jar

target/WalletPasscardsService/WEB-INF/lib/jackson-annotations-2.5.0.jar

*.jar

target/m2e-wtp/web-resources/META-INF/maven/walletpasscards.com/WalletPasscardsService/pom.properties

target/m2e-wtp/web-resources/META-INF/maven/walletpasscards.com/WalletPasscardsService/pom.properties
/target/
